<!DOCTYPE html>
<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>CarResell</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/assets/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/assets/images/fevicon.png" type="image/gif" />
      <!-- font css -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/assets/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <a class="navbar-brand"href="/admin_login" style="color: white;font-size: 30px;"><b>CarResell</b></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#bikes">Cars</a>
                     </li>


                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                  </form>
               </div>
            </nav>
         </div>
      </div>
      <!-- header section end -->
      <div class="call_text_main">
         <div class="container">
            <div class="call_taital">
               <div class="call_text"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_15">Gadag</span></a></div>
               <div class="call_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_15" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: 200;">(+91) 8722588330</span></a></div>
               <div class="call_text"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_15">carmart@gmail.com</span></a></div>
            </div>
         </div>
      </div>
      <!-- banner section start -->
      <div class="banner_section layout_padding" style="padding: 120px;">
         <div class="container">
            <div class="row">
               <div class="col-md-12" >
                  <div id="banner_slider" class="carousel slide" data-ride="carousel" style="margin-left: 300px;">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="banner_taital_main">
                              <h1 class="banner_taital">Buy & Sell Cars <br><span style="color: #fe5b29;">For You</span></h1>
                              <p class="banner_text">Discover a wide range of used cars at great prices. Find the perfect car that suits your needs and budget.</p>
                              <div class="btn_main">
                                 <div class="contact_bt"><a href="/login_view">Buy a car</a></div>
                                 <div class="contact_bt active"><a href="/seller_login">Sell a car</a></div>
                              </div>
                          </div>

                        </div>
                        <div class="carousel-item">
                           <div class="banner_taital_main">
                              <h1 class="banner_taital">Buy & Sell Cars <br><span style="color: #fe5b29;">For You</span></h1>
                              <p class="banner_text">Discover a wide range of used Cars at great prices. Find the perfect car that suits your needs and budget.</p>
                              <div class="btn_main">
                                 <div class="contact_bt"><a href="/login_view">Buy a Car</a></div>
                                 <div class="contact_bt active"><a href="/seller_login">Sell a Car</a></div>
                              </div>
                           </div>
                        </div>

                     </div>

                  </div>
               </div>

            </div>
         </div>
      </div>

      <div class="search_section" id="services">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="info_taital" style="color:white;"><b>Find Your Perfect Car</b></h1>
                  <p class="info_text" style="color:rgb(225, 216, 216)">Explore a wide range of used cars to find the one that suits you best. Our platform connects car enthusiasts and everyday riders alike, offering a diverse selection of cars from various brands and styles.</p>
                  <!-- information section start -->
                  <div class="container">
                     <div class="info_box_section">
                        <div class="info_box_main">
                           <div class="row">
                              <div class="col-md-4 info-outline">
                                 <div class="info_content">
                                    <h3 style="color:white"> <b>Wide Selection</b></h3>
                                    <p  style="color:rgb(224, 214, 214)">Browse through a wide range of cars from various brands and styles. Whether you're looking for a mountain car, road car, or city car, we have something for everyone.</p>
                                 </div>
                              </div>
                              <div class="col-md-4 info-outline">
                                 <div class="info_content">
                                    <h3 style="color:white"><b>Quality Assurance </b></h3>
                                    <p  style="color:rgb(209, 200, 200)">All cars listed on our platform go through a thorough inspection to ensure they meet our quality standards. Buy with confidence knowing you're getting a reliable car.</p>
                                 </div>
                              </div>
                              <div class="col-md-4 info-outline">
                                 <div class="info_content">
                                    <h3 style="color:white"><b>Easy Selling </b></h3>
                                    <p  style="color:rgb(224, 214, 214)">Looking to sell your car? Our platform makes it easy to list your car and connect with potential buyers. Get the best value for your car with our hassle-free process.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- information section end -->
               </div>
            </div>

         </div>
      </div>

      <div class="gallery_section layout_padding" id="bikes">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="gallery_taital">Our best offers</h1>
               </div>
            </div>
            <div class="gallery_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div class="gallery_box">
                        <div class="gallery_img"><img src="/bikes/tatasafari.jpeg"></div>
                        <h3 class="types_text">tata safari</h3>
                          <p class="looking_text">Model: 2012</p>
                          <p class="looking_text">Price: 5.2L</p>
                        <div class="read_bt"><a href="/login_view">Book Now</a></div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="gallery_box">
                        <div class="gallery_img"><img src="/bikes/suzukwagonR.jpeg"></div>
                        <h3 class="types_text">suzuki wagon R</h3>
                          <p class="looking_text">Model:2018</p>
                          <p class="looking_text">Price: 3.8L</p>
                        <div class="read_bt"><a href="/login_view">Book Now</a></div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="gallery_box">
                        <div class="gallery_img"><img src="/bikes/BMWM5compitition.jpeg"></div>
                        <h3 class="types_text">BMW M5 compitition </h3>
                          <p class="looking_text">Model: 2021</p>
                          <p class="looking_text"> Price: 1.2Cr</p>
                        <div class="read_bt"><a href="/login_view">Book Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="gallery_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div class="gallery_box">
                        <div class="gallery_img"><img src="/bikes/JeepWrangler.jpeg"></div>
                        <h3 class="types_text">Jeep Wrangler</h3>
                          <p class="looking_text">Model: 2019</p>
                          <p class="looking_text">Price; 85L</p>
                        <div class="read_bt"><a href="/login_view">Book Now</a></div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="gallery_box">
                        <div class="gallery_img"><img src="/bikes/Mercedesbenzcclass.jpeg"></div>
                        <h3 class="types_text">Mercedes benz c class</h3>
                          <p class="looking_text">Model: 2020</p>
                          <p class="looking_text">Price: 89L</p>
                        <div class="read_bt"><a href="/login_view">Book Now</a></div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="gallery_box">
                        <div class="gallery_img"><img src="/bikes/Tataharrier.jpeg"></div>
                        <h3 class="types_text">Tata Harrier</h3>
                          <p class="looking_text">Model: 2019</p>
                          <p class="looking_text">Price: 16 L</p>
                        <div class="read_bt"><a href="/login_view">Book Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- about section start -->

      <!-- about section end -->
      <div class="choose_section layout_padding">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <h1 class="choose_taital">WHY CHOOSE US</h1>
                 </div>
             </div>
             <div class="choose_section_2">
                 <div class="row">
                     <div class="col-sm-4">
                         <div class="icon_1"><img src="/static/assets/images/icon-1.png" alt="Safety & Security"></div>
                         <h4 class="safety_text">SAFETY & SECURITY</h4>
                         <p class="ipsum_text">We prioritize your safety and security by ensuring all transactions and communications are protected.</p>
                     </div>
                     <div class="col-sm-4">
                         <div class="icon_1"><img src="/static/assets/images/icon-2.png" alt="Quality Bikes"></div>
                         <h4 class="safety_text">Quality Cars</h4>
                         <p class="ipsum_text">Every car listed on our platform goes through a thorough inspection process to ensure top quality.</p>
                     </div>
                     <div class="col-sm-4">
                         <div class="icon_1"><img src="/static/assets/images/icon-3.png" alt="Customer Support"></div>
                         <h4 class="safety_text">Customer Support</h4>
                         <p class="ipsum_text">Our dedicated customer support team is here to help you with any questions or concerns you may have.</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
      <!-- gallery section start -->
      <div class="about_section layout_padding" id="about">
         <div class="container">
            <div class="about_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="image_iman" style="margin-top: 90px;"><img src="/static/assets/images/car.jpg" class="about_img"></div>
                  </div>
                  <div class="col-md-6">
                     <div class="about_taital_box">
                        <h1 class="about_taital">About <span style="color: #fe5b29;">Us</span></h1>
                        <p class="about_text">
                            Welcome to car resell, your trusted platform for buying and selling used cars. Our mission is to make the process of finding and selling cars simple, transparent, and enjoyable. Whether you're looking for a budget-friendly option, a rare find, or seeking to sell your car to a new owner, we provide the tools and resources you need.
                            <br><br>
                            Our platform connects car enthusiasts and everyday riders alike, offering a diverse selection of cars from various brands and styles. We believe in the power of cycling to bring joy, fitness, and eco-friendly transportation to our community. That's why we strive to offer a reliable and hassle-free marketplace for all your car needs.
                            <br>
                        </p>

                    </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- gallery section end -->
      <!-- choose section start -->


      <!-- choose section end -->
      <!-- client section start -->

      <!-- client section end -->
      <!-- contact section start -->

      <!-- contact section end -->
      <!-- footer section start -->


      <!-- footer section end -->
      <!-- copyright section start -->

      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/popper.min.js"></script>
      <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
      <script src="j/static/assets/s/jquery-3.0.0.min.js"></script>
      <script src="/static/assets/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="/static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/assets/js/custom.js"></script>
   </body>
</html>
